{% extends 'layout/admin.html.twig' %}

{% block body %}
  
  <div class="row mb-4">
    <div class="col-lg-10 col-9">
      <h1 class="page-name">
        <i class="bi bi-people"></i>
        {{ "Adhésion"|trans }}
      </h1>
      Contenu  de la charte d’utilisation
<div style="border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: auto; margin-bottom: 20px; font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #333;">
    <h2 style="font-size: 18px; color: #2c3e50; margin-bottom: 10px;">CHARTE RELATIVE À L’USAGE DU TRANSPORT DES COLLABORATEURS – MARRAKECH</h2>
    <p style="margin-bottom: 10px;">Afin de maintenir le service du transport des collaborateurs dans de bonnes conditions, certaines règles doivent être mises en place pour les usagers du transport et l’entreprise de transport désignée par MAJOREL.</p>
    
    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Conditions :</h3>
    <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 10px;">
        <li>Seuls sont reconnus comme usagers, les salariés planifiés et ayant accepté la présente charte sur l’outil de gestion de transport.</li>
        <li>Afin de garantir la sécurité des collaborateurs, Ces derniers seront récupérés et/ou déposés directement chez eux sur les tranches horaires suivantes : Avant 07h00 pour les entrées et sorties du matin et à partir de 21h00 pour les entrées et sorties du soir.</li>
        <li>Pour les autres tranches horaires, et afin de réduire les temps de trajet, des circuits fixes sont établis avec des points de ramassage fixes.</li>
    </ul>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Gestion des adhésions/modifications/annulation de l’adhésion au Transport du personnel :</h3>
    <p style="margin-bottom: 10px;">Tout collaborateur souhaitant s’adhérer au service transport doit accéder à l’outil de gestion de transport et confirmer son adhésion en renseignant les champs nécessaires ainsi que l’acceptation de la présente charte.</p>
    <p style="margin-bottom: 10px;">La modification du profil (changement d’adresse ; GSM ; coordonnées GPS ; …) et l’annulation de l’adhésion se feront au niveau de l’outil selon les règles de gestion (cf. règle de gestion).</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Planning et confirmation du Transport du personnel :</h3>
    <p style="margin-bottom: 10px;">Les collaborateurs souhaitant utiliser le transport collectif pour se rendre à l’entreprise ou chez eux, devront confirmer leurs inscriptions en suivant les règles de réservations ci-dessous :</p>

    <h4 style="font-size: 14px; color: #2c3e50; margin-bottom: 10px;">Pour le Day Shift :</h4>
    <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 10px;">
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Jour J+1 sont clôturées le jour J à 13h00 du Mardi au Vendredi.</li>
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Week-end et Lundi sont clôturées le Vendredi à 13H00.</li>
    </ul>

    <h4 style="font-size: 14px; color: #2c3e50; margin-bottom: 10px;">Pour le Night Shift :</h4>
    <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 10px;">
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Mardi sont clôturées le Dimanche à 23h59.</li>
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Mercredi sont clôturées le Lundi à 23h59.</li>
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Jeudi sont clôturées le Mardi à 23h59.</li>
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Vendredi sont clôturées le Mercredi à 23h59.</li>
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Samedi, Dimanche et les sorties du Lundi sont clôturées le Jeudi à 23h59.</li>
        <li>Les inscriptions au transport du personnel pour les entrées du Lundi sont clôturées le Dimanche à 23h59.</li>
    </ul>

    <p style="margin-bottom: 10px;"><strong>Passé ce délai, aucun changement ne pourra être effectué.</strong></p>
    <p style="margin-bottom: 10px;">Les horaires prévisionnels de passage des navettes seront communiqués aux usagers par mails.</p>
    <p style="margin-bottom: 10px;">En cas de désistement, ou de changement de planning (Exemple : heure de crédit), le collaborateur doit impérativement prévenir son manager dans les meilleurs délais.</p>
    <p style="margin-bottom: 10px;">Le collaborateur qui n’a pas pu réserver suite à un dysfonctionnement au niveau de son compte sera pris en charge manuellement à condition qu’il aurait déjà remonté ledit dysfonctionnement avant 14h00.</p>
    <p style="margin-bottom: 10px;">Lors des ramassages, Le collaborateur est tenu de se présenter 10 minutes avant l'heure théorique communiquée par courrier électronique. Le collaborateur est également tenu d'attendre 10 minutes après l'heure théorique communiquée par courrier électronique en cas d'un éventuel retard qui pourra être enregistrer à l'arrivée de la navette au point convenu. Dans le cas où le collaborateur manquerait la navette, il sera entièrement responsable de trouver un moyen de transport alternatif pour se rendre sur son lieu de travail.</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Ethique :</h3>
    <p style="margin-bottom: 10px;">Les collaborateurs du transport doivent maintenir un comportement courtois et respectueux des valeurs du Groupe à l’égard des chargés de contrôle, des chauffeurs et des autres personnes partageant le transport.</p>
    <p style="margin-bottom: 10px;">Les collaborateurs doivent porter le badge pour se faciliter le contrôle.</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Réclamations :</h3>
    <p style="margin-bottom: 10px;">Toute réclamation des collaborateurs portant sur le fonctionnement du transport ou le comportement des chauffeurs devra être adressée au Manager qui se chargera de la partager avec l’équipe logistique et après vérification, prendra les dispositions adaptées auprès du prestataire du transport.</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Circuits :</h3>
    <p style="margin-bottom: 10px;">Le ramassage et dépôt des collaborateurs se font selon les circuits disponibles sur l’outil de gestion de transport.</p>
    <p style="margin-bottom: 10px;">Selon le nombre des collaborateurs utilisant les navettes et leurs domiciles, ces circuits sont susceptibles d’être modifiés à tout moment.</p>
    <p style="margin-bottom: 10px;">Les itinéraires de chaque trajet sont déterminés par les chauffeurs afin d’assurer les meilleurs délais d’arrivée pour les collaborateurs.</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Sanctions :</h3>
    <p style="margin-bottom: 10px;">Le non-respect des dispositions décrites ci-dessus entrainant des dégâts matériels ou immatériels peut donner lieu à une exclusion définitive de l’auteur de l’infraction et une convocation auprès de la RH si jugée nécessaire.</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Retenue du transport :</h3>
    <p style="margin-bottom: 10px;">L’adhérent au transport paie chaque mois une retenue à la source pour le service transport. Le montant de la retenue est disponible chez la RH du site.</p>
    <p style="margin-bottom: 10px;">Tout collaborateur confirmant son adhésion dans l’outil de transport sera inclus dans la liste de retenue transport du personnel.</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Transfert de données à l’étranger :</h3>
    <p style="margin-bottom: 10px;">L’adhérent au transport est conscient que ses données personnelles nécessaires au traitement seront partagées dans une plateforme de gestion de flotte dont le serveur est basé en Europe.</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Règle de 3 et Remboursement de taxi :</h3>
    <p style="margin-bottom: 10px;">La règle de 3 stipule que toute navette dont les réservations sont inférieures à trois personnes sera annulée. Cette règle est appliquée toute la semaine sauf pendant les horaires tardifs, soit entre 21H et 7H inclus.</p>
    <p style="margin-bottom: 10px;">Suite à l’application de cette règle, une solution de remboursement des frais de taxi pour les collaborateurs impactés est mise en place en fonction des tarifs appliqués selon le kilométrage entre le site et le point d’arrêt validé par chaque collaborateur.</p>
    <p style="margin-bottom: 10px;">Le traitement de remboursement sera fait, mensuellement, au niveau RH tout comme la retenue.</p>

    <h3 style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">Règles de gestion :</h3>
    <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 10px;">
        <li>Les adhérents sont tenus d’être toujours munis d’un badge justifiant leur éligibilité vis-à-vis de la prestation. Le badge est obligatoire pour accéder au transport du personnel.</li>
        <li>Toute navette dont les réservations sont inférieures à trois personnes sera annulée. Cette règle est appliquée toute la semaine sauf pendant les horaires tardifs, soit entre 21H et 7H inclus.</li>
        <li>Un traitement de remboursement des tarifs de taxi pour les collaborateurs impactés sera fait, mensuellement, au niveau RH tout comme la retenue.</li>
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Jour J+1 sont clôturées le jour J à 13h00 du Mardi au Vendredi.</li>
        <li>Les inscriptions au transport du personnel pour les entrées et sorties du Week-end et Lundi sont clôturées le Vendredi à 13h00.</li>
        <li>Le collaborateur est autorisé à réserver que sur une seule tranche horaire et une seule destination par entrée et par sortie.</li>
        <li>Le collaborateur doit être présent au point de ramassage à l’heure convenue avec une marge de ± 10 minutes.</li>
        <li>Les commandes des navettes sont faites sur la base du nombre des adhérents inscrits, l’adhérent assume son entière responsabilité en cas d’omission ou d’oubli de réservation.</li>
        <li>La durée moyenne de trajet ne dépasse pas 01h00 et la durée maximum est de 01h10.</li>
        <li>Les inscriptions aux événements spéciaux se feront selon un calendrier qui sera communiqué par l’équipe logistique et les dates de clôtures suivront le calendrier communiqué.</li>
        <li>La modification du profil (adresse, coordonnées GPS ; …) est autorisée une fois par mois et plafonnée à 5 fois par an.</li>
        <li>L’annulation de l’adhésion est autorisée une fois par mois et plafonnée à 5 fois par an.</li>
        <li>Tout collaborateur adhérent sera inclus dans la liste de retenue du transport même s'il ne réserve pas le transport.</li>
        <li>Afin d’éviter des retenues non désirées, tout collaborateur doit résilier lui-même son adhésion depuis l’outil s’il ne souhaite plus utiliser le transport.</li>
        <li>Le chauffeur est habilité à faire des contrôles.</li>
        <li>Les collaborateurs doivent présenter leurs badges en accédant à la navette.</li>
        <li>Le non-respect des conditions d’utilisation du service transport est sanctionné.</li>
        <li>Le transport pendant les évènements exceptionnels (AID…) est gratuit.</li>
    </ul>
</div>

     <form action="{{ path('user.adhesion') }}" method="post" name="adhesion_form">
      <div class="mb-3">
      <label class="form-label" for="user_adhesion">
        <input type="checkbox" name="adhesion" id="user_adhesion" value="1" {% if user.adhesion==1 %} checked="checked"{% endif %}> J'ai lu et j'accepte la charte 
      </label>
      </div>
      <div class="mb-3">
        <input type="submit" name="Valider" value="Valider" class="btn btn-primary">
        <a href="{{ path('user.details', {id : user.id }) }}" class="btn btn-danger">Annuler</a>
      </div>

      <p><b>Pour activer votre adhésion, merci de cocher la case « J’ai lu et j’accepte la charte »</b></p>
      <p><b>Pour annuler votre adhésion, merci de décocher la case « J’ai lu et j’accepte la charte » puis cliquer sur valider</b></p>


     </form>
    </div>

{% endblock %}