
###> symfony/framework-bundle ###
/vendor/
/var/
###> symfony/webpack-encore-bundle ###

/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> app ###
~$*
*.gz
*.zip
*.sql
.idea
.DS_Store
*Zone.Identifier
/public/uploads/
/FILES_TO_REPLACE/
###< app ###
