<div class="offcanvas offcanvas-start w-100" tabindex="-1" id="sidebar-offcanvas" aria-labelledby="sidebar-offcanvas-label">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title fw-bold" id="sidebar-offcanvas-label">{{ "Applications"|trans }}</h5>
		<button type="button" class="btn-close text-reset rounded-0 shadow-none border-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="container-fluid p-0">
			<div class="row">
				<h4 class="mb-3">{{ "STJG"|trans }}</h4>
            </div>
		</div>
	</div>
</div>
