<div class="col-6 col-sm-2 mb-4">
	<a href="{{ url }}" class="card text-decoration-none text-muted" style="min-height: 105px;">
		<div class="card-body">
			<span class="fs-4">{{ label|trans|raw }}</span>
			<i class="bi {{ icon }} position-absolute end-0 top-0 me-2 text-muted fs-2" style="opacity: 0.3;"></i>
		</div>
	</a>
</div>
