<input type="hidden" name="_csrf_token" value="{{ csrf_token('password_reset') }}">

<div class="mb-3">
  <label class="mb-2 text-muted" for="email">{{ "Email"|trans }}</label>
  <input type="email" name="email" class="form-control" id="email" required autofocus />
</div>
